[delay="0.2"] {
  transition-delay: 0.2s !important;
}
[delay="0.5"] {
  transition-delay: 0.5s !important;
}
[delay="1"] {
  transition-delay: 1s !important;
}
[delay="2"] {
  transition-delay: 2s !important;
}

.splt:not(.animate):not(.done) {
  opacity: 0;
}
svg[data-animate="true"]:not(.animate):not(.done) {
  opacity: 0;
}

.animate.splt .char {
  will-change: transform;
}

.animate img {
  will-change: transform;
}

figcaption {
  all: unset;
  font-family: neue-haas-grotesk-display, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;

  text-rendering: optimizeLegibility;
}

body {
  display: grid;
}

#__next {
  margin: 0;
  display: grid;
}

.gridline {
  background: #EBEBEB;
}
section.page-section {
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}
figcaption {
  color: #000000;
  transition: color 0.2s linear;
}
figcaption::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -8px;
  height: 1px;
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 0;
  translate: 0 10px;

  transition: 0.3s ease 0s;
}
figcaption.animate::after {
  transition: 1s ease-out 1s;
  opacity: 1;
  translate: 0 0px;
}
figcaption.done::after {
  opacity: 1;
  translate: 0 0px;
}
figcaption:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}
figcaption:hover::after {
  content: '→';
  text-align: right;
  display: grid;
  align-items: center;
  padding: 0 15px 1px 0;
  transition: 0.2s ease;
  background: #000000;
  left: -16px;
  width: calc(100% + 50px);
  height: calc(100% + 16px);
  z-index: -1;
}

.splt.und {
  position: relative;
}
.und::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -3px;
  height: 1px;
  width: 100%;
  background: currentColor;
  opacity: 0;
  translate: 0 10px;

  transition: 0.3s ease 0s;
}
.und.animate::after, 
.und.done::after {
  transition: 0.6s ease-out 1s;
  opacity: 1;
  translate: 0 0px;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

h1, h2, h3, p {
  all: unset;
}

.navigation-wrapper {
  position: absolute;
  bottom: 0px;
  translate: 0 100%;
  right: 0;
  overflow: hidden;
}
.fix {
  position: fixed;
  translate: 0 -100px;
}
.table-wrap {
  display: grid;
  position: relative;
  width: 284px;
  height: auto;
  padding: 20px 0 20px 30px;
  background: rgb(255, 255, 255);
  transition:  translate 0.3s ease, background 0.3s ease;
}
.hide .table-wrap {
  background: rgba(255, 255, 255, 0);
  translate: 30% 0;
}

.item-wrap {
  position: relative;
  display: grid;
  margin: 0 0 0 auto;
  padding: 0;

  width: 100%;
  color: #AFAFAF;

  transition: opacity 0.3s ease, height 0.5s ease, padding 0.5s ease;
}
.hide > .table-wrap > .item-wrap:not(.active) {
  opacity: 0;
}
.item-wrap.sub1 {
  width: 81.4%;
  padding: 10px 0;
}
.hide .item-wrap.sub1 {
  padding: 0px;
}
.sub1.tour {
  /* Default height = (# of all child tabs) * 27)*/
  height: calc(5 * 27px + 10px); 
}
.sub1.worklist {
  height: calc(4 * 27px + 10px);
}
.hide .item-wrap:not(.active) .sub1:not(.active) {
  height: 0px; /* Height of non-active (0) tabs */
}
.hide .sub1.active {
  height: 24px; /* Height of ONE tab */
}
.hide .sub1.active:has(.sub2) {
  height: 48px;/* Height of TWO tabs */
}
.hide .sub1.active:has(.sub3) {
  height: 72px;/* Height of THREE (max) tabs */
}
.hide .sub > .item-wrap:not(.active),
.hide .table-wrap > .item-wrap:not(.active) .item-wrap:not(.active) {
  opacity: 0;
}
.item-wrap.sub2 {
  width: 78%;
}
.item-value {
  padding: 2px 0 1px;

  cursor: pointer;
  width: calc(100%);

  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #585858;

  opacity: 1;

  background: white;
  border-bottom: 1px solid #dbdbdb;
  transition: 
  opacity 0.3s ease, 
  background 0.3s ease, 
  width 0.3s ease, 
  translate 0.3s ease, 
  color 0.3s ease, 
  border-bottom 0.3s ease;
}
.item-value:hover {
  width: calc(100% + 30px);
  translate: -30px;
  background: #edece3;
  color: black;
  border-bottom: 1px solid black;
}

.active > .item-value {
  color: #000000;
  border-bottom: 1px solid #000000;
  background: #edece3;
}
.table-wrap > .item-wrap.active .item-wrap:not(.active) .item-value {
  color: #585858;
}

@font-face {
  font-family:"neue-haas-grotesk-display";
  src:url("https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-display";
  src:url("https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-display";
  src:url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:500;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-display";
  src:url("https://use.typekit.net/af/6c4da4/00000000000000007735bb5e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/6c4da4/00000000000000007735bb5e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/6c4da4/00000000000000007735bb5e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
  font-display:swap;font-style:italic;font-weight:500;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-display";
  src:url("https://use.typekit.net/af/153042/00000000000000007735bb62/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/153042/00000000000000007735bb62/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/153042/00000000000000007735bb62/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:600;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-display";
  src:url("https://use.typekit.net/af/8a7571/00000000000000007735bb67/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/8a7571/00000000000000007735bb67/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/8a7571/00000000000000007735bb67/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
  font-display:swap;font-style:italic;font-weight:600;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-display";
  src:url("https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-display";
  src:url("https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:swap;font-style:italic;font-weight:700;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-text";
  src:url("https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-text";
  src:url("https://use.typekit.net/af/aed66e/00000000000000007735bb35/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/aed66e/00000000000000007735bb35/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/aed66e/00000000000000007735bb35/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-text";
  src:url("https://use.typekit.net/af/160664/00000000000000007735bb32/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/160664/00000000000000007735bb32/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/160664/00000000000000007735bb32/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:500;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-text";
  src:url("https://use.typekit.net/af/fe63ce/00000000000000007735bb4b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/fe63ce/00000000000000007735bb4b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/fe63ce/00000000000000007735bb4b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
  font-display:swap;font-style:italic;font-weight:500;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-text";
  src:url("https://use.typekit.net/af/305037/00000000000000007735bb39/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/305037/00000000000000007735bb39/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/305037/00000000000000007735bb39/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-grotesk-text";
  src:url("https://use.typekit.net/af/68a7c6/00000000000000007735bb3d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/68a7c6/00000000000000007735bb3d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/68a7c6/00000000000000007735bb3d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:swap;font-style:italic;font-weight:700;font-stretch:normal;
  }
  